<%= form_for(observation) do |f| %>
  <% if observation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(observation.errors.count, "error") %> No tiene permitido guardar esta Observación</h2>

      <ul>
      <% observation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Detalle" %>
    <%= f.text_field :name %>
  </div>

  <div class="actions">
    <%= f.submit "Guardar Observación"%>
  </div>
<% end %>
