<%= form_for(admin) do |f| %>
  <% if admin.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(admin.errors.count, "error") %> No tiene permitido guardar este Administrador:</h2>

      <ul>
      <% admin.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Nombres" %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label "Apellidos" %>
    <%= f.text_field :last_name %>
  </div>

  <div class="field">
    <%= f.label "Correo Electrónico" %>
    <%= f.email_field :email %>
  </div>

  <div class="field">
    <%= f.label "Teléfono" %>
    <%= f.telephone_field :telephone %>
  </div>

  <div class="field">
    <%= f.label "Contraseña" %>
    <%= f.password_field :password %>
  </div>

  <div class="field">
    <%= f.label "Campus" %>
    <%= f.select :center_id, options_for_select(Center.all.map{|c| [c.name, c.id]}), {}, {class: "", data: {"live-search": true}} %>
  </div>

  <div class="actions">
    <%= f.submit "Guardar Administrador" %>
  </div>
<% end %>
