<p id="notice"><%= notice %></p>

<p>
  <strong>Nombres:</strong>
  <%= @admin.name %>
</p>

<p>
  <strong>Apellidos:</strong>
  <%= @admin.last_name %>
</p>

<p>
  <strong>Correo Electrónico:</strong>
  <%= @admin.email %>
</p>

<p>
  <strong>Teléfono:</strong>
  <%= @admin.telephone %>
</p>

<p>
  <strong>Campus:</strong>
  <%= @admin.center.name %>
</p>

<%= link_to 'Editar', edit_admin_path(@admin) %> |
<%= link_to 'Atrás', admins_path %>
