<%= form_for(disable) do |f| %>
  <% if disable.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(disable.errors.count, "error") %> prohibited this disable from being saved:</h2>

      <ul>
      <% disable.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :begin %>
    <%= f.date_select :begin %>
  </div>

  <div class="field">
    <%= f.label :end %>
    <%= f.date_select :end %>
  </div>

  <div class="field">
    <%= f.label :room_id %>
    <%= f.text_field :room_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
