<%= form_for(disable) do |f| %>
  <% if disable.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(disable.errors.count, "error") %> No tiene permitido guardar este Período No Reservable:</h2>

      <ul>
      <% disable.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :room_id %>
    <%= f.select :room_id, options_for_select(Room.all.map{|c| ["#{c.center.name} - #{c.name}", c.id]}), {}, {class: "", data: {"live-search": true}} %>
  </div>

  <div class="field">
    <%= f.label "Fecha Inicial" %>
    <%= f.date_select :begin,:order => [:day, :month,:year], start_year:Date.today.year%>
  </div>

  <div class="field">
    <%= f.label "Fecha Final" %>
    <%= f.date_select :end, :order => [:day, :month,:year], start_year:Date.today.year%>
  </div>

  <div class="actions">
    <%= f.submit "Guardar Período No Reservable" %>
  </div>
<% end %>
