<p id="notice"><%= notice %></p>

<h1>Disables</h1>

<table>
  <thead>
    <tr>
      <th>Begin</th>
      <th>End</th>
      <th>Room</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @disables.each do |disable| %>
      <tr>
        <td><%= disable.begin %></td>
        <td><%= disable.end %></td>
        <td><%= disable.room %></td>
        <td><%= link_to 'Show', disable %></td>
        <td><%= link_to 'Edit', edit_disable_path(disable) %></td>
        <td><%= link_to 'Destroy', disable, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Disable', new_disable_path %>
