<p id="notice"><%= notice %></p>

<h1>Periodos No Reservables</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Salón</th>
      <th>Fecha Inicial</th>
      <th>Fecha Final</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @disables.each do |disable| %>
      <tr>
        <td><%= disable.room.name%></td>
        <td><%= disable.begin %></td>
        <td><%= disable.end %></td>
        <td><%= link_to 'Ver', disable %></td>
        <td><%= link_to 'Editar', edit_disable_path(disable) %></td>
        <td><%= link_to 'Eliminar', disable, method: :delete, data: { confirm: '¿Está seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Período No Reservable', new_disable_path %>
