<p id="notice"><%= notice %></p>

<p>
  <strong>Salón:</strong>
  <%= @disable.room.name %>
</p>

<p>
  <strong>Fecha Inicial:</strong>
  <%= @disable.begin %>
</p>

<p>
  <strong>Fecha Final:</strong>
  <%= @disable.end %>
</p>

<%= link_to 'Editar', edit_disable_path(@disable) %> |
<%= link_to 'Atrás', disables_path %>
