<%= form_for(center) do |f| %>
  <% if center.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(center.errors.count, "error") %> No tiene permitido guardar este Campus:</h2>

      <ul>
      <% center.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Nombre" %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label "Dirección" %>
    <%= f.text_field :address %>
  </div>

  <div class="actions">
    <%= f.submit "Guardar Campus"%>
  </div>
<% end %>
