<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @center.name %>
</p>

<p>
  <strong>Dirección:</strong>
  <%= @center.address %>
</p>

<%= link_to 'Editar', edit_center_path(@center) %> |
<%= link_to 'Atrás', centers_path %>
