<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @department.name %>
</p>

<p>
  <strong>Campus:</strong>
  <%= @department.center.name %>
</p>

<%= link_to 'Editar', edit_department_path(@department) %> |
<%= link_to 'Atrás', departments_path %>
