<%= form_for(reservation) do |f| %>
  <% if reservation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(reservation.errors.count, "error") %> No tiene permitido guardar esta Reservación:</h2>

      <ul>
      <% reservation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Descripción" %>
    <%= f.text_field :description %>
  </div>

  <div class="actions">
    <%= f.submit "Guardar Reservación"%>
  </div>
<% end %>
