<p id="notice"><%= notice %></p>

<p>
  <strong>Descripci칩n:</strong>
  <%= @reservation.description %>
</p>

<p>
  <strong>Docente:</strong>
  <%= @reservation.teacher.name %>
</p>

<p>
  <strong>Sal칩n:</strong>
  <%= @reservation.room.name %>
</p>

<p>
  <strong>Observaci칩n:</strong>
  <%= @reservation.observation.name %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @reservation.date %>
</p>

<p>
  <strong>Hora:</strong>
  <%= @reservation.hour%>
</p>

<%= link_to 'Editar', edit_reservation_path(@reservation) %> |
<%= link_to 'Atr치s', reservations_path %>
