<p id="notice"><%= notice %></p>

<h1>Docentes</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Nombres</th>
      <th>Apellidos</th>
      <th>Correo Electrónico</th>
      <th>Teléfono</th>
      <th>Campus</th>
      <th>Departamento</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @teachers.each do |teacher| %>
      <tr>
        <td><%= teacher.name %></td>
        <td><%= teacher.last_name %></td>
        <td><%= teacher.email %></td>
        <td><%= teacher.telephone %></td>
        <td><%= teacher.department.center.name %></td>
        <td><%= teacher.department.name %></td>
        <td><%= link_to 'Ver', teacher %></td>
        <td><%= link_to 'Editar', edit_teacher_path(teacher) %></td>
        <td><%= link_to 'Eliminar', teacher, method: :delete, data: { confirm: '¿Está seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Docente', new_teacher_path %>
