<p id="notice"><%= notice %></p>

<p>
  <strong>Nombres:</strong>
  <%= @teacher.name %>
</p>

<p>
  <strong>Apellidos:</strong>
  <%= @teacher.last_name %>
</p>

<p>
  <strong>Correo Electrónico:</strong>
  <%= @teacher.email %>
</p>

<p>
  <strong>Teléfonos:</strong>
  <%= @teacher.telephone %>
</p>

<p>
  <strong>Campus:</strong>
  <%= @teacher.department.center.name %>
</p>

<p>
  <strong>Departamento:</strong>
  <%= @teacher.department.name %>
</p>

<%= link_to 'Editar', edit_teacher_path(@teacher) %> |
<%= link_to 'Atrás', teachers_path %>
