<%= form_for(room) do |f| %>
  <% if room.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(room.errors.count, "error") %> prohibited this room from being saved:</h2>

      <ul>
      <% room.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>

  <div class="field">
    <%= f.label :location %>
    <%= f.text_field :location %>
  </div>

  <div class="field">
    <%= f.label :capacity %>
    <%= f.number_field :capacity %>
  </div>

  <div class="field">
    <%= f.label :center_id %>
    <%= f.select :center_id, options_for_select(Center.all.map{|c| [c.name, c.id]}), {}, {class: "", data: {"live-search": true}} %>
  </div>

  <div class="field">
    <%= label_tag :resources %><br />
    <% for resource in Resource.all do  %>
        <%= check_box_tag "room[resource_ids][#{resource.id}]", nil, @room.resources.member?(resource) %><%= resource.name %>
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
