<%= form_for(room) do |f| %>
  <% if room.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(room.errors.count, "error") %> No tiene permitio guardar este Sal贸n:</h2>

      <ul>
      <% room.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Nombre" %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label "Descripci贸n"%>
    <%= f.text_field :description %>
  </div>

  <div class="field">
    <%= f.label "Capacidad" %>
    <%= f.number_field :capacity, min:0, step:1 %>
  </div>

  <div class="field">
    <%= f.label "Campus" %>
    <%= f.select :center_id, options_for_select(Center.all.map{|c| [c.name, c.id]}), {}, {class: "", data: {"live-search": true}} %>
  </div>

  <div class="field">
    <%= f.label "Ubicaci贸n" %>
    <%= f.text_field :location %>
  </div>

  <div class="field">
    <%= label_tag "Recursos" %><br />
    <% for resource in Resource.all do  %>
        <%= check_box_tag "room[resource_ids][#{resource.id}]", nil, @room.resources.member?(resource) %><%= resource.name %>
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit "Guardar Sal贸n" %>
  </div>
<% end %>
