<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @room.name %>
</p>

<p>
  <strong>Descripción:</strong>
  <%= @room.description %>
</p>

<p>
  <strong>Capacidad:</strong>
  <%= @room.capacity %>
</p>

<p>
  <strong>Campus:</strong>
  <%= @room.center.name %>
</p>

<p>
  <strong>Ubicación:</strong>
  <%= @room.location %>
</p>

<p>
  <strong>Recursos:</strong>
  <%= @room.resources.map{|r| r.name}.to_sentence %>
</p>

<%= link_to 'Editar', edit_room_path(@room) %> |
<%= link_to 'Atrás', rooms_path %>
