<%= form_for(horary) do |f| %>
  <% if horary.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(horary.errors.count, "error") %> prohibited this horary from being saved:</h2>

      <ul>
      <% horary.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :reservation_id %>
    <%= f.text_field :reservation_id %>
  </div>

  <div class="field">
    <%= f.label :date %>
    <%= f.date_select :date %>
  </div>

  <div class="field">
    <%= f.label :hour %>
    <%= f.time_select :hour %>
  </div>

  <div class="field">
    <%= f.label :duration %>
    <%= f.time_select :duration %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
