<p id="notice"><%= notice %></p>

<h1>Horarios</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Reservación</th>
      <th>Fecha</th>
      <th>Hora Inicio</th>
      <th>Duracion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @horaries.each do |horary| %>
      <tr>
        <td><%= horary.reservation.description %></td>
        <td><%= horary.date %></td>
        <td><%= horary.hour %></td>
        <td><%= horary.duration %></td>
        <td><%= link_to 'Ver', horary %></td>
        <td><%= link_to 'Editar', edit_horary_path(horary) %></td>
        <td><%= link_to 'Eliminar', horary, method: :delete, data: { confirm: '¿Está seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Horario', new_horary_path %>
