<p id="notice"><%= notice %></p>

<p>
  <strong>Reservación:</strong>
  <%= @horary.reservation.description %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @horary.date %>
</p>

<p>
  <strong>Hora Inicio:</strong>
  <%= @horary.hour %>
</p>

<p>
  <strong>Duración:</strong>
  <%= @horary.duration %>
</p>

<%= link_to 'Editar', edit_horary_path(@horary) %> |
<%= link_to 'Atrás', horaries_path %>
